<section class='flex-row justify-center'>
    <form class='form addpost-form'>
      <label for='newpost-title'>Enter Title of Post:</label>
      <input type='text' id='newpost-title'/>

      <label for='newpost'>Create Post</label>
      <textarea id='newpost'></textarea>

      <button type='submit'>Submit</button>
    </form>
</section>

<script src='/createpost.js'></script>