<div class="col-md-6">

   <section class='flex-row justify-center'>
    <form class='form updatepost-form'>
        <label for="update-title">Title:</label>
    <input id="update-title">{{post.title}}</input>

      <label for='update-post'>Create Post</label>
      <textarea id='update-post'>{{post.content}}</textarea>

      <button class="update-btn">Update</button>
      <button class="delete-btn">Delete</button>
    </form>
</section>

</div>

<script src='/updatepost.js'></script>


